.App {
  text-align: center;
 
}


.blogButton{
  font-size: 16px;
  border: 2px solid darkgray;
  background-color:lightcoral;


}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NAV{

  float : right;
  width: 33.33%;
  align-items: right;
  background-color: lightblue;
}

.NAVP{

  float : right;
  width: 33%;
  align-items: right;
  background-color: lightblue;
}


